<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/9473deaf-15fa-4fd0-b7f9-8bb4f2c17bd8/v3/index.json" />
  </packageSources>
</configuration>